/**
* @name Bigger TitleBar
* @author ElitePrime#7266
* @version 1
* @description Makes the titlebar bigger.
*/

 /* Bigger Title Bar */
  .winButton-3UMjdg {
    height: 25px;
    width: 34px;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .withFrame-2dL45i {
  height: fit-content;
  margin-top: 0px;
  }
  .wordmarkWindows-2dq6rw {
   margin-top: 10px;
   margin-left: 12px;
   padding: 0px;
  }

  /* Titlebar Buttons */
  .winButton-3UMjdg {
    border-radius:5px!important;
    transition:all 0.2s ease-in-out;
  }